In [1]:
notes  = 5

i = 1
while i < notes:
    print(i)
    i += 1
else:
    print("Ab tera khaatma hoga re kaaliya")

1
2
3
4
Ab tera khaatma hoga re kaaliya

In [2]:
# while-else statement exist in PYTHON

In [3]:
s = "sudh"

In [4]:
s[2]

'd'

In [5]:
s[-2]

'd'

In [6]:
s = "my name is utkarsh"

In [7]:
s[3:10]

'name is'

In [8]:
s[3:10:2]

'nm s'

In [9]:
s[::-1]

'hsraktu si eman ym'

In [10]:
s[111:0:-1]

'hsraktu si eman y'

In [11]:
s[111::-1]

'hsraktu si eman ym'

In [12]:
s[111:1:-1]

'hsraktu si eman '

In [13]:
s[111:-111111:-1]

'hsraktu si eman ym'

In [14]:
s[1111:3:1]

''

In [15]:
s[1111:3:-1]

'hsraktu si ema'

In [16]:
s

'my name is utkarsh'

In [17]:
for i in s:
    if i == "n":
        break
    print(i)

m
y

In [18]:
for i in s:
    if i == "n":
        break
    print(i)
    
else:
    if i == "u":
        print("U found !")
        
# in case of for-else statement, else statement is will execute only if for statement is completed and not broken in between

m
y

In [19]:
for i in s:
    print(i)
    
else:
    print("The else condition is executed after completion i.e. exhaustion of for statement")

m
y

n
a
m
e

i
s

u
t
k
a
r
s
h
The else condition is executed after completion i.e. exhaustion of for statement

In [20]:
i = 1
j = 10

while i < j:
    i += 1
    if i == 5:
        break
    print(i)

2
3
4

In [21]:
i = 1
j = 10

while i < j:
    i += 1
    if i == 5:
        break
    print(i)
    
else:
    print("Dekho mera bhi jaadu")

2
3
4

In [22]:
i = 1
j = 10

while i < j:
    i += 1
    if i == 9:
        break
    print(i)
    
else:
    print("Dekho mera bhi jaadu")

2
3
4
5
6
7
8

In [23]:
i = 1
j = 10

while i < j:
    i += 1
    if i == 10:
        break
    print(i)
    
else:
    print("Dekho mera bhi jaadu")

2
3
4
5
6
7
8
9

In [24]:
i = 1
j = 10

while i < j:
    i += 1
    if i == 11:
        break
    print(i)
    
else:
    print("Dekho mera bhi jaadu")

2
3
4
5
6
7
8
9
10
Dekho mera bhi jaadu

In [25]:
s = "my name is sudhanshu"
for i in s:
    if i == "n":
        continue
    print(i)
    
else:
    if i == "u":
        
        print(" UUUU found U ! ")
    print("isko kehte hai jugaad....desi jugaad")

m
y

a
m
e

i
s

s
u
d
h
a
s
h
u
 UUUU found U !
isko kehte hai jugaad....desi jugaad

In [26]:
s = "my name is utkarsh"
for i in s:
    if i == "n":
        continue
    print(i)
    
else:
    if i == "u":
        
        print(" UUUU found U ! ")
    print("isko kehte hai jugaad....desi jugaad")

m
y

a
m
e

i
s

u
t
k
a
r
s
h
isko kehte hai jugaad....desi jugaad

In [27]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [28]:
ss

'ieuro'

In [29]:
n = 7
for i in range(0,n):
    for j in range(0, i+1):
        print("+", end = "")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++

In [30]:
n = 7
for i in range(0,n):
    for j in range(0, i+1):
        print("+", end = "")
    print("\n")

+

++

+++

++++

+++++

++++++

+++++++

In [32]:
n = 7
for i in range(0,n):
    for j in range(0, i+1):
        print("+", end = "*")
    print("\n")

+*

+*+*

+*+*+*

+*+*+*+*

+*+*+*+*+*

+*+*+*+*+*+*

+*+*+*+*+*+*+*

In [33]:
n = 7
for i in range(0,n):
    for j in range(0, i+1):
        print("+", end = "^")
    print("\n")

+^

+^+^

+^+^+^

+^+^+^+^

+^+^+^+^+^

+^+^+^+^+^+^

+^+^+^+^+^+^+^

In [34]:
n = 7
for i in range(0,n):
    for j in range(0, i+5):
        print("+", end = "^")
    print("\n")

+^+^+^+^+^

+^+^+^+^+^+^

+^+^+^+^+^+^+^

+^+^+^+^+^+^+^+^

+^+^+^+^+^+^+^+^+^

+^+^+^+^+^+^+^+^+^+^

+^+^+^+^+^+^+^+^+^+^+^

In [36]:
n = 7
for i in range(0,n):
    for j in range(n, 0,-1):
        print("+", end = "")
    print("\n")

+++++++

+++++++

+++++++

+++++++

+++++++

+++++++

+++++++

In [37]:
n = 7
for i in range(0,n):
    for j in range(n, 0,-1):
        print("+", end = "")
    print("\r")

+++++++
+++++++
+++++++
+++++++
+++++++
+++++++
+++++++

In [39]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
    for j in range(2*i - 1):
        print("*", end = "")
    print("\r")

Enter the number of rows u want: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [40]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
    for j in range(2*i - 1):
        print("*", end = "")
    print("\n")

Enter the number of rows u want: 9
*****************

 ***************

  *************

   ***********

    *********

     *******

      *****

       ***

        *

In [41]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end = "")
    for j in range(i - 1):
        print("*", end = "")
    print("\r")

Enter the number of rows u want: 5
****
 ***
  **
   *

In [42]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print("", end = "")
    for j in range(i - 1):
        print("*", end = "")
    print("\r")

Enter the number of rows u want: 5
****
***
**
*

In [43]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(i - 1):
        print("*", end = "")
    print("\r")

Enter the number of rows u want: 5
****
***
**
*

In [44]:
n = int(input("Enter the number of rows u want: "))
for i in range(n,0,-1):
    for j in range(i - 1):
        print("*", end = "")
    print("\r")

Enter the number of rows u want: 5
****
***
**
*

In [46]:
a = range(10)

In [47]:
a

range(0, 10)

In [48]:
type(a)

range

In [49]:
len(range(2334,352234532))

352232198